* {margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit;
}
ul,ol {
    list-style: none;
} 
address {font-style: inherit;}
a {text-decoration: inherit; color: inherit;}
img {max-width: 100%;}
figure {line-height: 0;}
